@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MontserratRegular";
    src: local("MontserratRegular"),
      url("../../public/assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: "MontserratBold";
    src: local("MontserratBold"),
      url("../../public/assets/fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: "MontserratSemibold";
    src: local("MontserratSemibold"),
      url("../../public/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: "MontserratMedium";
    src: local("MontserratMedium"),
      url("../../public/assets/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: bold;
  }
  @font-face {
    font-family: "MontserratBlack";
    src: local("MontserratBlack"),
      url("../../public/assets/fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: bold;
  }